*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Primary */

  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);

  /* Neutral */

  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: url(./images/bg-pattern-top-desktop.svg) left top no-repeat,
    url(./images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
  font-size: 100%;
  color: var(--VeryDarkMagenta);
}

h1 {
  font-size: 3.733rem;
  font-weight: 700;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.top-section {
  padding-top: 7.375em;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  max-width: 445px;
}

.title p {
  margin-top: 16px;
  font-size: 1.267rem;
  font-weight: 400;
}

.review-ratings {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.card-1 {
  align-self: flex-start;
}

.card-2 {
  align-self: center;
}

.card-3 {
  align-self: flex-end;
}

.review-ratings-card {
  display: flex;
  align-items: center;
  width: 445px;
  height: 56px;
  background-color: var(--LightGrayishMagenta);
  border-radius: 8px;
}

.review-ratings-card:not(:first-child) {
  margin-top: 16px;
}

.star-container {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
}

.star {
  height: 17px;
  width: 16px;
  background: url(./images/icon-star.svg) center no-repeat;
}

.star:not(:last-child) {
  margin-right: 8.45px;
}

.review-ratings-card p {
  font-size: 1.133rem;
  font-weight: 700;
}

.bottom-section {
  padding-top: 4.438em;
}

.card-container {
  display: flex;
  height: 300px;
  justify-content: space-between;
}

.card-container img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.review-card {
  height: 234px;
  width: 350px;
  background-color: var(--VeryDarkMagenta);
  color: var(--White);
  border-radius: 8px;
}

.article-container {
  padding: 40px 32px 35px;
}

.person-1 {
  align-self: flex-start;
}

.person-2 {
  align-self: center;
}

.person-3 {
  align-self: flex-end;
}

.info-person {
  display: flex;
}

.name,
.verified,
.review {
  font-size: 1.133rem;
}

.name,
.verified {
  margin-left: 23px;
}

.name {
  font-weight: 700;
  padding-bottom: 4px;
}

.verified {
  color: var(--SoftPink);
}

.review {
  margin-top: 31px;
  letter-spacing: -0.303571px;
  font-weight: 500;
}

@media screen and (max-width: 1140px) {
  body {
    background: url(./images/bg-pattern-top-mobile.svg) left top no-repeat,
      url(./images/bg-pattern-bottom-mobile.svg) center bottom no-repeat;
    height: 1530px;
  }

  section.container,
  .info,
  .title {
    max-width: 375px;
  }

  .top-section {
    padding-top: 5.125em;
  }

  .info {
    flex-direction: column;
  }

  .title h1 {
    font-size: 2.667rem;
    line-height: 32px;
    letter-spacing: -1.42857px;
    text-align: center;
    max-width: 327px;
  }

  .title p {
    font-size: 1.267rem;
    letter-spacing: -0.633333px;
    text-align: center;
    line-height: 25px;
    max-width: 327px;
    margin-top: 9px;
  }

  .review-ratings {
    max-width: 375px;
    margin-top: 39px;
  }

  .review-ratings-card {
    max-width: 327px;
  }

  .review-ratings-card p {
    margin-top: -16px;
  }

  .card-1,
  .card-3 {
    align-self: center;
  }

  .review-ratings-card {
    flex-direction: column;
    justify-content: space-around;
    height: 78px;
  }

  .card-container {
    flex-direction: column;
  }

  .person-1,
  .person-3 {
    align-self: center;
  }

  .review-card {
    max-width: 327px;
  }

  .bottom-section {
    padding-top: 3.063em;
  }

  .review-card:not(:last-child) {
    margin-bottom: 16px;
  }
}
